
.problems-section {
   
  }
  
  .problems-container {
    background-image: url('/problembg.png') ;
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 0px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;

    @media (max-width: 768px) {

    height: 100vh; /* Full height on mobile */
    background-size: cover;
    background-position: cover;
    justify-content: center;
     /* Ensure it still covers */
    background-position: center;
        
    }
    
  }
  
  .problems-container h6 {
    color: #23A6F0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;

  
  }
  
  .problems-container h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.3px;

    @media (max-width: 768px) {

        width: 80%;
        text-align: center;
    }
  }
  
  .problems-container p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;

    @media (max-width: 768px) {

        margin-bottom: 50px;
        width: 80%;
        text-align: center;
    }
  }
  
  .problems-container button {
    background-color: #23A6F0;
    padding: 15px 40px;
    font-size: 0.875rem;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.5px;
  }