

.hero-section {
    
  
    min-height: 784px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .hero-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .hero-left {
    display: none;
  }

  .hero-container img {
    object-fit: cover;
    width: 100%;

  }

  .hero-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .bottom-right {
    display: flex;
    gap: 16px;
  }

  .relative-div {
    position: relative;
  }

  .absolute-div {
    height: 156;
    gap: 5px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    top: 0;
    font-weight: 700;
  }

  
.absolute-div h6 {
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgba(45, 192, 113, 1);
}

.absolut-div h2 {
  font-size: 2.5rem;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: rgba(37, 43, 66, 1);
}

.absolute-div h3 {
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: rgba(37, 43, 66, 1);
}

.absolute-div a {
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgba(37, 43, 66, 1);
}

.absolute-div a:hover {
  cursor: pointer;
  color: rgb(111, 139, 190);
  text-decoration: unde;
}


 /* Responsive Styles */
 @media (max-width: 768px) {

  .hero-section {
    min-height: 1293px;
    padding-top: 10vh;
  }

  .hero-container {
    flex-direction: column;
   }

   .hero-left {
    display: block;
   }

   .hero-container img {
    width: 85vw;
    aspect-ratio: 1/1;
   }

   .bottom-right {
    flex-direction: column;
   }


 }

 @media (width > 1180px) {
  .hero-left {
    display: block;
  }
 }
